#jinja2: lstrip_blocks: "True", trim_blocks: "True"
[Unit]
Description={{ systemd_service_def.description }}
{% if systemd_service_def.requires is defined %}
Requires={{ systemd_service_def.requires | join(" ") }}
{% endif %}
{% if systemd_service_def.wants is defined %}
Wants={{ systemd_service_def.wants | join(" ") }}
{% endif %}
{% if systemd_service_def.after is defined %}
After={{ systemd_service_def.after | join(" ") }}
{% endif %}
{% if systemd_service_def.start is defined %}
ConditionFileIsExecutable={{ systemd_service_def.start.exe }}
{% endif %}
{% if systemd_service_def.stop is defined %}
ConditionFileIsExecutable={{ systemd_service_def.stop.exe }}
{% endif %}

[Service]
{% if systemd_service_def.start_limit is defined %}
  {% if systemd_service_def.start_limit.interval is defined %}
StartLimitInterval={{ systemd_service_def.start_limit.interval }}
  {% endif %}
  {% if systemd_service_def.start_limit.burst is defined %}
StartLimitInterval={{ systemd_service_def.start_limit.burst }}
  {% endif %}
{% endif %}

{%- if systemd_service_def.env is defined %}
  {% if systemd_service_def.env.addl_files is defined %}
    {% for ef in systemd_service_def.env.addl_files -%}
EnvironmentFile={{ ef }}
    {% endfor %}
  {% endif %}
EnvironmentFile={{ systemd_service_fq_env_file }}
{% endif %}

{%- if systemd_service_def.ty is defined %}
Type={{ systemd_service_def.ty }}
{% endif %}

{%- if systemd_service_def.account is defined %}
  {% if systemd_service_def.account.user is defined %}
User={{ systemd_service_def.account.user }}
  {% endif %}
  {% if systemd_service_def.account.group is defined %}
Group={{ systemd_service_def.account.group }}
  {% endif %}
{% endif %}

{%- if systemd_service_def.working_directory is defined %}
WorkingDirectory={{ systemd_service_def.working_directory }}
{% endif %}

{%- if systemd_service_def.protect_home is defined and systemd_service_def.protect_home | bool %}
ProtectHome=yes
{% endif %}

{%- if systemd_service_def.protect_system is defined %}
ProtectSystem={{ systemd_service_def.protect_system }}
{% endif %}

{%- if systemd_service_def.timeout is defined %}
  {% if systemd_service_def.time.start_sec is defined %}
TimeoutStartSec={{ systemd_service_def.time.start_sec }}
  {% endif %}
  {% if systemd_service_def.time.stop_sec is defined %}
TimeoutStopSec={{ systemd_service_def.time.stop_sec }}
  {% endif %}
{% endif %}

{%- if systemd_service_def.start is defined %}
ExecStart={{ systemd_service_def.start.exe }}
  {%- if systemd_service_def.start.args is defined %} {{ systemd_service_def.start.args }}
  {% endif %}
{% endif %}

{%- if systemd_service_def.standard_output is defined %}
StandardOutput={{ systemd_service_def.standard_output }}
{% endif %}

{%- if systemd_service_def.pidfile is defined %}
PIDFile={{ systemd_service_def.pidfile }}
{% endif %}

{%- if systemd_service_def.stop is defined %}
ExecStop={{ systemd_service_def.stop.exe }}
  {%- if systemd_service_def.stop.args is defined %} {{ systemd_service_def.stop.args }}
  {% endif %}
{% endif %}

{%- if systemd_service_def.restart is defined %}
  {% if systemd_service_def.restart.policy is defined %}
Restart={{ systemd_service_def.restart.policy }}
  {% endif %}
  {% if systemd_service_def.restart.sec is defined %}
RestartSec={{ systemd_service_def.restart.sec }}
  {% endif %}
{% endif %}

{% if systemd_service_def.wanted_by is defined %}
[Install]
  {% for wb in systemd_service_def.wanted_by %}
WantedBy={{ wb }}
  {% endfor %}
{% endif %}
